<div style="max-width: 1290px; margin: 0 auto; padding: 20px;">
  <h1>{{{message}}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</div>

<script>
  document.body.className += " is-ready";
</script>
